alembic==1.8.1
amqp==5.1.1
billiard==3.6.4.0
celery==5.1.2
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
ecdsa==0.18.0
Flask==1.1.4
Flask-Cors==3.0.10
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
jose==1.0.0
kombu==5.2.4
Mako==1.2.1
MarkupSafe==2.0.1
prompt-toolkit==3.0.30
psycopg2==2.9.3
psycopg2-binary==2.9.1
pyasn1==0.4.8
python-jose==3.3.0
pytz==2022.2.1
rsa==4.9
six==1.16.0
SQLAlchemy==1.3.23
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
